.bg-blur {
  position: relative;
  overflow: hidden;
}
.bg-blur::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  /* background-image: url("/images/etc/1.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px);
  transform: scale(1.1); /* 블러로 가장자리 빈칸 방지 */
  z-index: 0;
}
.bg-blur > * {
  position: relative;
  z-index: 1; /* 글자는 블러 위에 */
}