.MultipleCarousel .wrapper{
  /* border: 1px solid #000; */
  transition: all 1s;
  position: relative;
  width:100%;
  overflow:hidden;
}
.MultipleCarousel ._container{
  /* border: 1px dashed #000; */
  display:flex;
  margin:0;
  padding:0px;
  transition: all 1s;
}
.MultipleCarousel ._container ._card{
  /* border: 1px solid #000; */
  padding:0;
  margin:5px;
  border-radius: 5px;
}
.MultipleCarousel .arrow{
  border: 1px solid grey;
  display:block;
  width:50px;
  height:50px;
  border-radius: 50%;
  position:absolute;
  top:42.5%;
  text-align: center;
  line-height: 45px;
  z-index: 3;
  cursor:pointer;
}
.MultipleCarousel .btnLeft{
  left:20px;
  background: rgba(255, 255, 255, 0.8);
}
.MultipleCarousel .btnRight{
  right:20px;
  background: rgba(255, 255, 255, 0.8);
}